@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300, 400, 600, 800;
  font-display: swap;
  src: url(/font.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #00e6e4;
}

html body {
  font-family: 'Quicksand', sans-serif;
  color: ##0125ff;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
}

h1 {
  font-size: 49px;
}
